# Simple linear regression predictive model (Sklearn)

In [6]:
import pandas as pd
import numpy as np 
import seaborn as sns
sns.set()
import statsmodels.api as sm
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

1- By Sklearn

In [68]:
Raw_Data = pd.read_csv('Salary_Data.csv')

In [69]:
reg = LinearRegression()

In [70]:
## Define dependent and independent variables
x = Raw_Data['YearsExperience']
y = Raw_Data['Salary']

In [71]:
x.shape

(30,)

In [72]:
x_matrix = x.values.reshape(-1,1)

In [73]:
reg.fit(x_matrix,y)

LinearRegression()

In [74]:
reg.score(x_matrix,y)

0.9569566641435086

In [75]:
reg.coef_

array([9449.96232146])

In [76]:
reg.intercept_

25792.20019866871

In [77]:
##now we have the intercept(constant) and the coef(b1)
New_Data = pd.DataFrame(data=[1.3,1.5],columns=['YearOfExper'])
New_Data

   YearOfExper
0          1.3
1          1.5

In [78]:
reg.predict(New_Data)

array([38077.15121656, 39967.14368085])

In [79]:
New_Data['Prediction'] = reg.predict(New_Data)

In [80]:
New_Data

   YearOfExper    Prediction
0          1.3  38077.151217
1          1.5  39967.143681

In [82]:
new_data_model = pd.DataFrame(data=[16],columns=['Years'])

In [83]:
new_data_model['Pridictor'] = reg.predict(new_data_model)

In [85]:
pred_salary = reg.predict([[16]])
print("Predicted Salary: ", round(pred_salary[0]))

Predicted Salary:  176992